<h1>Parking Places</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_places.each do |parking_place| %>
      <tr>
        <td><%= link_to 'Show', parking_place %></td>
        <td><%= link_to 'Edit', edit_parking_place_path(parking_place) %></td>
        <td><%= link_to 'Destroy', parking_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking Place', new_parking_place_path %>
